<div class="p-1">
  <form class="space-y-4">
    <div class="text-lg font-bold">
      New Invitation
    </div>

    <div>
      <label for="githubUsername" class="block text-sm/6 font-medium text-gray-900">GitHub Username</label>
      <div class="mt-2">
        <input type="githubUsername" name="githubUsername" id="githubUsername" v-model="githubUsername" class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-ultramarine-600 sm:text-sm/6" placeholder="johnsmith12">
      </div>
    </div>

    <div>
      <label for="email" class="block text-sm/6 font-medium text-gray-900">Email (Optional)</label>
      <div class="mt-2">
        <input type="email" name="email" id="email" v-model="email" class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-ultramarine-600 sm:text-sm/6" placeholder="you@example.com">
      </div>
    </div>

    <div>
      <label for="location" class="block text-sm/6 font-medium text-gray-900">Role</label>
      <div class="mt-2 grid grid-cols-1">
        <select id="role" :disabled="tier == null" name="role" v-model="role" class="col-start-1 row-start-1 w-full appearance-none rounded-md bg-white py-1.5 pl-3 pr-8 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
          <option value="admin">Admin</option>
          <option value="member">Member</option>
          <option value="readonly">Read-only</option>
          <option value="dashboards">Dashboards Only</option>
        </select>
        <svg class="pointer-events-none col-start-1 row-start-1 mr-2 size-5 self-center justify-self-end text-gray-500 sm:size-4" viewBox="0 0 16 16" fill="currentColor" aria-hidden="true" data-slot="icon">
          <path fill-rule="evenodd" d="M4.22 6.22a.75.75 0 0 1 1.06 0L8 8.94l2.72-2.72a.75.75 0 1 1 1.06 1.06l-3.25 3.25a.75.75 0 0 1-1.06 0L4.22 7.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
        </svg>
      </div>
      <div v-if="tier == null" class="text-sm text-gray-700">
        You can only invite "Dashboards Only" users until you set up a subscription.
      </div>
    </div>

    <async-button
      type="submit"
      @click="inviteToWorkspace"
      class="inline-flex justify-center rounded-md border border-transparent bg-forest-green-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-forest-green-500 focus:outline-none focus:ring-2 focus:ring-forest-green-500 focus:ring-offset-2">
      Submit
    </async-button>
  </form>
</div>
