<div>
  <div v-if="hasEnumValues" class="space-y-2">
    <select
      class="w-full px-3 py-2 border border-gray-300 bg-white rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent"
      :value="selectedOption"
      @change="onSelectChange"
    >
      <option v-for="option in normalizedEnums" :key="`enum-${option}`" :value="option">
        {{ option }}
      </option>
      <option :value="'__null'">null</option>
      <option :value="'__undefined'">undefined</option>
      <option :value="'__other'">Other</option>
    </select>
    <input
      v-if="selectedOption === '__other'"
      type="text"
      class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent"
      :value="otherValue"
      @input="onOtherInput"
      placeholder="Enter a value"
    />
  </div>
  <div v-else>
    <input
      type="text"
      class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent"
      :value="value != null ? value : ''"
      @input="onTextInput"
      placeholder="Enter a value"
    />
  </div>
</div>
