<div class="models">
  <div class="model-selector">
    <h1>Models</h1>
    <div v-for="model in models">
      <router-link :to="'/model/' + model" :class="model === currentModel ? 'bold' : ''">
        {{model}}
      </router-link>
    </div>
  </div>
  <div class="documents" ref="documentsList">
    <div>
      <div class="documents-menu">
        <div class="search-input">
          <form @submit.prevent="search">
            <input class="search-text" type="text" placeholder="Filter or text" v-model="searchText" />
            <div>Number of Documents: {{numDocuments}}</div>
          </form>

        </div>
        <div class="buttons">
          <button @click="shouldShowExportModal = true">Export</button>
          <button @click="shouldShowFieldModal = true">Fields</button>
        </div>
      </div>
    </div>
    <div class="documents-container">
      <table>
        <thead>
          <th v-for="path in filteredPaths">
            {{path.path}}
            <span class="path-type">
              ({{(path.instance || 'unknown')}})
            </span>
            <span class="sort-arrow" @click="sortDocs(1, path.path)">{{sortBy[path.path] == 1 ? 'X' : '↑'}}</span>
            <span class="sort-arrow" @click="sortDocs(-1, path.path)">{{sortBy[path.path] == -1 ? 'X' : '↓'}}</span>
          </th>
        </thead>
        <tbody>
          <tr v-for="document in documents" @click="$router.push('/model/' + currentModel + '/document/' + document._id)" :key="document._id">
            <td v-for="schemaPath in filteredPaths">
              <component
                :is="getComponentForPath(schemaPath)"
                :value="getValueForPath(document, schemaPath.path)"
                :allude="getReferenceModel(schemaPath)">
              </component>
            </td>
          </tr>
        </tbody>
      </table>
      <div v-if="status === 'loading'" class="loader">
        <img src="images/loader.gif">
      </div>
    </div>
    <modal v-if="shouldShowExportModal">
      <template v-slot:body>
        <div class="modal-exit" @click="shouldShowExportModal = false">&times;</div>
        <export-query-results
          :schemaPaths="schemaPaths"
          :filter="filter"
          :currentModel="currentModel"
          @done="shouldShowExportModal = false">
        </export-query-results>
      </template>
    </modal>
    <modal v-if="shouldShowFieldModal">
      <template v-slot:body>
        <div class="modal-exit" @click="shouldShowFieldModal = false; selectedPaths = [...filteredPaths];">&times;</div>
        <div v-for="(path, index) in schemaPaths" :key="index" style="margin-bottom: 0.5em">
          <input type="checkbox" :id="'path.path'+index" @change="addOrRemove(path)" :value="path.path" :checked="isSelected(path.path)"/>
          <label :for="'path' + index">{{path.path}}</label>
        </div>
        <div style="margin-top: 1em">
          <button type="submit" @click="filterDocuments()" style="margin-right: 0.5em">Filter Selection</button>
          <button type="submit" @click="resetDocuments()">Reset Selection</button>
        </div>
      </template>
    </modal>
  </div>
</div>