<div class="models">
  <div class="model-selector">
    <h1>Models</h1>
    <div v-for="model in models">
      <router-link :to="'/model/' + model" :class="model === currentModel ? 'bold' : ''">
        {{model}}
      </router-link>
    </div>
  </div>
  <div class="documents">
    <div>
      <div class="documents-menu">
        <div class="search-input">
          <form @submit.prevent="search">
            <input class="search-text" type="text" placeholder="Filter or text" v-model="searchText" />
          </form>
        </div>
        <div class="buttons">
          <button @click="shouldShowExportModal = true">Export</button>
        </div>
      </div>
    </div>
    <div class="documents-container">
      <table>
        <thead>
          <th v-for="path in schemaPaths">
            {{path.path}}
            <span class="path-type">
              ({{(path.instance || 'unknown').toLowerCase()}})
            </span>
          </th>
        </thead>
        <tbody>
          <tr v-for="document in documents" @click="$router.push('/model/' + currentModel + '/document/' + document._id)" :key="document._id">
            <td v-for="schemaPath in schemaPaths">
              <component :is="getComponentForPath(schemaPath)" :value="document[schemaPath.path]"></component>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <modal v-if="shouldShowExportModal">
      <template v-slot:body>
        <div class="modal-exit" @click="shouldShowExportModal = false">&times;</div>
        <export-query-results
          :schemaPaths="schemaPaths"
          :filter="filter"
          :currentModel="currentModel"
          @done="shouldShowExportModal = false">
        </export-query-results>
      </template>
    </modal>
  </div>
</div>