<div class="document">
  <div class="document-menu">
    <div class="left">
      <button
        @click="$router.push('/model/' + this.model)"
        class="rounded-md bg-gray-400 px-2.5 py-1.5 text-sm font-semibold text-white shadow-sm hover:bg-slate-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-slate-600">
        &lsaquo; Back
      </button>
    </div>

    <div class="right">
      <button
        v-if="!editting"
        @click="editting = true"
        :disabled="!canManipulate"
        :class="{'cursor-not-allowed opacity-50': !canManipulate}"
        type="button"
        class="rounded-md bg-ultramarine-600 px-2.5 py-1.5 text-sm font-semibold text-white shadow-sm hover:bg-ultramarine-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-teal-600">
        <img src="images/edit.svg" class="inline" /> Edit
      </button>
      <button
        v-if="editting"
        @click="editting = false"
        type="button"
        class="rounded-md bg-slate-600 px-2.5 py-1.5 text-sm font-semibold text-white shadow-sm hover:bg-slate-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-slate-600">
        &times; Cancel
      </button>
      <button
        v-if="editting"
        :disabled="!canManipulate"
        :class="{'cursor-not-allowed opacity-50': !canManipulate}"
        @click="shouldShowConfirmModal=true;"
        type="button"
        class="rounded-md bg-forest-green-600 px-2.5 py-1.5 text-sm font-semibold text-white shadow-sm hover:bg-green-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-green-600">
        <img src="images/save.svg" class="inline" /> Save
      </button>
      <button
        @click="shouldShowDeleteModal=true;"
        :disabled="!canManipulate"
        :class="{'cursor-not-allowed opacity-50': !canManipulate}"
        type="button"
        class="rounded-md bg-valencia-600 px-2.5 py-1.5 text-sm font-semibold text-white shadow-sm hover:bg-valencia-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-600">
        <img src="images/delete.svg" class="inline" /> Delete
      </button>
      <button
        @click="shouldShowCloneModal=true;"
        :class="{'cursor-not-allowed opacity-50': !canManipulate}"
        type="button"
        class="rounded-md bg-pink-600 px-2.5 py-1.5 text-sm font-semibold text-white shadow-sm hover:bg-valencia-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-600">
        <img src="images/duplicate.svg" class="inline" /> Clone
      </button>
    </div>
  </div>
  <div v-if="status === 'loaded'">
    <document-details
      :document="document"
      :schemaPaths="schemaPaths"
      :editting="editting"
      :changes="changes"
      :invalid="invalid"></document-details>
    <modal v-if="shouldShowConfirmModal">
      <template v-slot:body>
        <div class="modal-exit" @click="shouldShowConfirmModal = false;">&times;</div>
        <confirm-changes @close="shouldShowConfirmModal = false;" @save="save" :value="changes"></confirm-changes>
      </template>
    </modal>
    <modal v-if="shouldShowDeleteModal">
      <template v-slot:body>
        <div class="modal-exit" @click="shouldShowConfirmModal = false;">&times;</div>
        <confirm-delete @close="shouldShowConfirmModal = false;" @remove="remove" :value="document"></confirm-delete>
      </template>
    </modal>
    <modal v-if="shouldShowCloneModal">
      <template v-slot:body>
        <div class="modal-exit" @click="shouldShowCloneModal = false;">&times;</div>
          <create-document :currentModel="model" :paths="schemaPaths"></create-document>
      </template>
    </modal>
  </div>
</div>
