.document {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 25px;
}

.document .document-menu {
  display: flex;
}

.document .document-menu .left {
  flex-grow: 1;
}

.document .document-menu .right {
  flex-grow: 1;
  text-align: right;
}

.document .document-menu .right button:not(:last-child) {
  margin-right: 0.5em;
}

.document button img {
  height: 1em;
}