.document {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 25px;
}

.document .document-menu {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: white;
  border-radius: 5px;
  padding: 15px 15px;
  margin: -15px 0 15px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.document .document-menu .left {
  flex-grow: 1;
}

.document .document-menu .right {
  flex-grow: 1;
  text-align: right;
}

.document .document-menu .right button:not(:last-child) {
  margin-right: 0.5em;
}

.document button img {
  height: 1em;
}