.document-details {
    width: 100%;
  }
  
  .document-details .value {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  .document-details .path-key {
    background-color: #f0f0f0;
    margin-bottom: 0.5em;
  }
  
  .document-details .path-type {
    color: rgba(0,0,0,.36);
    font-size: 0.8em;
  }
  
  .document-details .date-position {
    float: right;
    margin-top: -7px;
  }

  .truncated-value-container,
  .expanded-value-container {
    position: relative;
  }

  .truncated-value-container button,
  .expanded-value-container button {
    transition: all 0.2s ease;
  }

  .truncated-value-container button:hover,
  .expanded-value-container button:hover {
    transform: translateX(2px);
  }