<div class="relative flex items-start" :class="{'justify-end': message.role === 'user'}">
  <div
    class="min-w-0 max-w-[calc(100vw-3rem)] lg:max-w-[calc(100vw-15rem)]"
    :class="{'text-right': message.role === 'user'}">

    <div class="text-sm text-gray-900 rounded-md inline-block relative" :class="styleForMessage">
      <div v-for="part in contentSplitByScripts">
        <div v-if="part.type === 'text'" v-html="marked(part.content)">
        </div>
        <div v-else-if="part.type === 'code'">
          <chat-message-script
            :message="message"
            :script="part.content"
            :language="part.language"
            :target-dashboard-id="targetDashboardId"
            @copyMessage="copyMessage"></chat-message-script>
        </div>
      </div>
    </div>
  </div>
</div>
