<div class="navbar">
  <div class="nav-left flex items-center gap-4 h-full">
    <router-link to="/">
      <img src="images/logo.svg" alt="Mongoose Studio Logo" />
    </router-link>
    <div v-if="!!state.nodeEnv" class="inline-flex items-center rounded-md px-2 py-1 text-sm font-medium text-gray-900" :class="warnEnv ? 'bg-red-300' : 'bg-yellow-300'">
      {{state.nodeEnv}}
    </div>
  </div>
  <div class="nav-right h-full">
    <div class="sm:ml-6 sm:flex sm:space-x-8 h-full">
      <a
        href="#/"
        class="inline-flex items-center px-1 pt-1 border-b-2 text-sm font-medium"
        :class="!dashboardView ? 'text-gray-900 border-ultramarine-500' : 'border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700'">Documents</a>
      <a
        href="#/dashboards"
        class="inline-flex items-center border-b-2 px-1 pt-1 text-sm font-medium"
        :class="dashboardView ? 'text-gray-900 border-ultramarine-500' : 'border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700'">Dashboards</a>

      <div class="h-full flex items-center" v-if="!user && hasAPIKey">
        <button
          type="button"
          @click="loginWithGithub"
          class="rounded bg-ultramarine-600 px-2 py-2 text-sm font-semibold text-white shadow-sm hover:bg-ultramarine-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-ultramarine-600">
            Login
        </button>
      </div>
      <div v-if="user && hasAPIKey" class="h-full flex items-center relative" v-clickOutside="hideFlyout">
        <div>
          <button type="button" @click="showFlyout = !showFlyout" class="relative flex rounded-full bg-gray-800 text-sm focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800" id="user-menu-button" aria-expanded="false" aria-haspopup="true">
            <span class="absolute -inset-1.5"></span>
            <span class="sr-only">Open user menu</span>
            <img class="size-8 rounded-full" :src="user.picture" alt="">
          </button>
        </div>

        <div v-if="showFlyout" class="absolute right-0 z-10 top-[90%] w-48 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black/5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1">
          <router-link to="/team" v-if="canViewTeam" @click="showFlyout = false" class="cursor-pointer block px-4 py-2 text-sm text-gray-700 hover:bg-ultramarine-200" role="menuitem" tabindex="-1" id="user-menu-item-2">Team</router-link>
          <span @click="logout" class="cursor-pointer block px-4 py-2 text-sm text-gray-700 hover:bg-ultramarine-200" role="menuitem" tabindex="-1" id="user-menu-item-2">Sign out</span>
        </div>
      </div>

    </div>
  </div>
  <div style="clear: both"></div>
</div>
