body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Inter", Helvetica, Arial, FreeSans, sans-serif;
}

a {
  text-decoration: none;
  color: #0e5887;
}

.bold {
  font-weight: bold !important;
}

.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0px;
  border-radius: 6px;
  top: 100%;
  left: 50%;
  margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltiptextchild {
  margin: 5px;
}
