<div class="mx-auto max-w-5xl py-6 px-2 flex flex-col gap-8">
  <div>
    <div class="text-xl font-bold">
      Subscription Details
    </div>
    <div v-if="workspace && workspace.subscriptionTier" class="mt-4 flex justify-between items-center">
      <div>
        <span class="font-bold">Tier:</span> {{workspace.subscriptionTier ?? 'No subscription'}}
      </div>
      <div>
        <async-button
          type="submit"
          @click="getWorkspaceCustomerPortalLink"
          class="inline-flex items-center justify-center rounded-md border border-transparent bg-ultramarine-600 py-1 px-2 text-sm font-medium text-white shadow-sm hover:bg-ultramarine-500 focus:outline-none focus:ring-2 focus:ring-forest-green-500 focus:ring-offset-2">
          View in Stripe
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4 ml-1">
            <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" />
          </svg>
        </async-button>
      </div>
    </div>
    <div v-if="workspace && !workspace.subscriptionTier" class="mt-4 flex justify-between items-center">
      <div>
        <span class="font-bold">No active subscription</span>
        <div class="text-sm text-gray-700">
          You won't be able to invite your team until you activate a subscription
        </div>
      </div>
      <div>
        <a
          :href="paymentLink"
          target="_blank"
          class="inline-flex items-center justify-center rounded-md border border-transparent bg-ultramarine-600 py-1 px-2 text-sm font-medium text-white shadow-sm hover:bg-ultramarine-500 focus:outline-none focus:ring-2 focus:ring-ultramarine-500 focus:ring-offset-2">
          Subscribe With Stripe
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4 ml-1">
            <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" />
          </svg>
        </a>
      </div>
    </div>
  </div>
  <div>
    <div class="text-xl font-bold">
      Current Members
    </div>
    <ul role="list" class="divide-y divide-gray-100">
      <li class="flex justify-between gap-x-6 py-5" v-for="user in users">
        <div class="flex min-w-0 gap-x-4">
          <img class="size-12 flex-none rounded-full bg-gray-50" :src="user.picture ?? 'images/logo.svg'" alt="">
          <div class="min-w-0 flex-auto">
            <p class="text-sm/6 font-semibold text-gray-900">
              {{user.name}}
              <span v-if="user.isFreeUser" class="inline-flex items-center rounded-md bg-green-50 px-2 py-1 text-xs font-medium text-green-700 ring-1 ring-inset ring-green-600/20">Free</span>
            </p>
            <p class="mt-1 truncate text-xs/5 text-gray-500">{{user.email ?? 'No Email'}}</p>
          </div>
        </div>
        <div class="hidden shrink-0 sm:flex sm:flex-col sm:items-end">
          <p class="text-sm/6 text-gray-900 capitalize">{{getRolesForUser(user).join(', ')}}</p>
          <div class="flex gap-3">
            <p class="mt-1 text-xs/5 text-gray-500 cursor-pointer">
              Edit
            </p>
            <p class="mt-1 text-xs/5 text-valencia-500 cursor-pointer" @click="showRemoveModal = user">
              Remove
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div>
    <div class="flex items-center justify-between">
      <div class="text-xl font-bold">
        Invitations
      </div>
      <div class="mt-4 sm:ml-16 sm:mt-0 sm:flex-none">
        <button
          type="button"
          @click="showNewInvitationModal = true"
          :disabled="workspace && !workspace.subscriptionTier"
          class="block rounded-md bg-ultramarine-600 px-3 py-2 text-center text-sm font-semibold text-white shadow-sm hover:bg-ultramarine-500 disabled:bg-gray-500 disabled:cursor-not-allowed focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-ultramarine-600">
          New Invitation
          <svg class="inline w-4 h-4 ml-1" v-if="workspace && !workspace.subscriptionTier" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
            <path fill-rule="evenodd" d="M12 1.5a5.25 5.25 0 00-5.25 5.25v3a3 3 0 00-3 3v6.75a3 3 0 003 3h10.5a3 3 0 003-3v-6.75a3 3 0 00-3-3v-3c0-2.9-2.35-5.25-5.25-5.25zm3.75 8.25v-3a3.75 3.75 0 10-7.5 0v3h7.5z" clip-rule="evenodd" />
          </svg>
        </button>
      </div>
    </div>
    <div class="mt-8 flow-root" v-if="invitations?.length > 0">
      <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
          <table class="min-w-full divide-y divide-gray-300">
            <thead>
              <tr>
                <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-0">GitHub Username</th>
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Email</th>
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Status</th>
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Role</th>
              </tr>
            </thead>
            <tbody class="divide-y divide-gray-200 bg-white">
              <tr v-for="invitation in invitations">
                <td class="whitespace-nowrap py-5 pl-4 pr-3 text-sm sm:pl-0">
                  {{invitation.githubUsername}}
                </td>
                <td class="whitespace-nowrap px-3 py-5 text-sm text-gray-500">
                  {{invitation.email}}
                </td>
                <td class="whitespace-nowrap px-3 py-5 text-sm text-gray-500">
                  <span class="inline-flex items-center rounded-md bg-gray-50 px-2 py-1 text-xs font-medium text-gray-700 ring-1 ring-inset ring-gray-600/20">
                    Pending
                  </span>
                </td>
                <td class="whitespace-nowrap px-3 py-5 text-sm text-gray-500">
                  {{invitation.roles.join(', ')}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div v-if="invitations?.length === 0" class="mt-4">
      <div class="text-center">
        <svg class="mx-auto size-12 text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
          <path vector-effect="non-scaling-stroke" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 13h6m-3-3v6m-9 1V7a2 2 0 012-2h6l2 2h6a2 2 0 012 2v8a2 2 0 01-2 2H5a2 2 0 01-2-2z" />
        </svg>
        <h3 class="mt-2 text-sm font-semibold text-gray-900">No invitations</h3>
        <p class="mt-1 text-sm text-gray-500">You have no outstanding invitations</p>
      </div>
    </div>
  </div>

  <modal v-if="showNewInvitationModal">
    <template v-slot:body>
      <div class="modal-exit" @click="showNewInvitationModal = false">&times;</div>
      <new-invitation @close="showNewInvitationModal = false" @invitationCreated="invitations.push($event.invitation)"></new-invitation>
    </template>
  </modal>

  <modal v-if="showRemoveModal">
    <template v-slot:body>
      <div class="modal-exit" @click="showRemoveModal = false">&times;</div>
      <div>
        Are you sure you want to remove user <span class="font-bold">{{showRemoveModal.githubUsername}}</span> from this workspace?
      </div>
      <div class="mt-6 grid grid-cols-2 gap-4">
        <async-button
          @click="removeFromWorkspace(showConfirmDeleteModal)"
          class="border-0 mt-0 flex w-full items-center justify-center gap-3 rounded-md bg-valencia-500 hover:bg-valencia-400 px-3 py-1.5 text-white focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-orange-400">
          <span class="text-sm font-semibold leading-6">Yes, Remove</span>
        </async-button>

        <span @click="showRemoveModal = null" class="cursor-pointer flex w-full items-center justify-center gap-3 rounded-md bg-slate-500 hover:bg-slate-400 px-3 py-1.5 text-white focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-slate-400">
          <span class="text-sm font-semibold leading-6">Cancel</span>
        </span>
      </div>
    </template>
  </modal>
</div>
