name: Test
on:
  pull_request:
  push:
jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        node: [20, 22, 24]
        os: [ubuntu-22.04, ubuntu-24.04]
        mongodb: [7.0.12, 8.0.0]
    name: Node ${{ matrix.node }} MongoDB ${{ matrix.mongodb }} OS ${{ matrix.os }}
    env:
      MONGOMS_VERSION: ${{ matrix.mongodb }}
      MONGOMS_PREFER_GLOBAL_PATH: 1
      FORCE_COLOR: true
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Setup node
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version: ${{ matrix.node }}

      - name: Start MongoDB server
        uses: supercharge/mongodb-github-action@v1.10.0
        with:
          mongodb-version: ${{ matrix.mongodb }}
          mongodb-replica-set: rs0

      - run: npm install
      - name: NPM Test
        run: npm test
  test-frontend:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        node: [22]
        os: [ubuntu-24.04]
    name: Frontend - Node ${{ matrix.node }} OS ${{ matrix.os }}
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Setup node
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version: ${{ matrix.node }}

      - run: npm install
      - name: NPM Test
        run: npm run test:frontend
